.list {
    text-align: center;
    max-width: 272px;
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;

}


.price {
    display: flex;
    justify-content: center;

}


.count {
    margin: 0;
}

.link {
    text-decoration: none;
    color: white;
}