.profileSection {
  width: 1240px;
  display: flex;
  /* flex-direction: row;
    justify-content: left; */
  margin: 0 auto;
  margin-top: 180px;
  gap: 60px;
  /* justify-content: center; */
}

.container {
  max-width: 480px;
  text-align: center;
}

.auth {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
    margin-right: auto; */
}

.tab {
  margin-top: 0;
  list-style: none;

  text-align: left;
  padding: 0;
}

.navBlock {
  max-width: 320px;
  width: 100%;
}

.item {
  height: 64px;
  display: flex;
  align-items: center;

}

.link {
  text-decoration: none;
  cursor: pointer;
  /* color: white; */

}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.active {
  color: white;
}

.inactive {
  color: rgb(133, 133, 173)
}